.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 100px;
  padding: 10px;
}

.product-grid-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.none-found {
  margin-bottom: 300px;
  margin-left: 100px;
  width: 500px;
}